<div class="progress-spinner" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>
<div>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  <p-toast position="top-center"></p-toast>
</div>
<div class="trackPage">
  <div class="container">
    <p-card>
      <div class="mt-3">
        <span class="welcomeText">Трек номера</span>
      </div>
      <div class="mt-3">
        <p-button (click)="openDialog()" label="Добавить трек номер" icon="pi pi-plus" iconPos="left"></p-button>
      </div>
    </p-card>
    <div *ngFor="let item of data">
      <div class="mt-3">
        <div class="card"
             [ngStyle]="{
                'background': getBackground(item)
              }"
             (click)="cardClick(item)">
          {{item.track.trackNumber}} - {{ getTypeText(item) }}
        </div>
      </div>
    </div>
  </div>
</div>
